<div class="example-container">
  <h2>To do</h2>

  <div>
    <mat-radio-group [(ngModel)]="addNewTodoList" name="addNewTodoList">
      <mat-radio-button value="addNewTodoList-present">
        <h6>Add To Do</h6></mat-radio-button
      >
    </mat-radio-group>
    <div *ngIf="addNewTodoList === 'addNewTodoList-present'">
      <input
        appearance="fill"
        matInput
        type="text"
        [(ngModel)]="addTodo"
        (keyup.enter)="addNewTodo()"
        class="form-control-lg text-center"
        placeholder="Add To Do"
      />
    </div>
  </div>

  <!-- <div>
        <mat-radio-group [(ngModel)]="addNewTodoList " name="addNewTodoList">
          
          <mat-radio-button  value="addNewTodoList-present">
              <h6>Add To Do </h6></mat-radio-button
          >
        </mat-radio-group>
        <div *ngIf="addNewTodoList === 'addNewTodoList-present'">
  
          <input appearance="fill" matInput type="text" [(ngModel)]="addTodo" (keyup.enter)="addNewTodo()" class="form-control-lg text-center" placeholder="Add To Do">
        </div>
      </div> -->

  <br />

  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doingList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{ item }}</div>
  </div>
</div>

<div class="example-container">
  <h2>Doing</h2>

  <div>
    <mat-radio-group [(ngModel)]="addNewDoingList" name="addNewDoingList">
      <mat-radio-button value="addNewDoingList-present">
        <h6>Add Doing</h6></mat-radio-button
      >
    </mat-radio-group>
    <div *ngIf="addNewDoingList === 'addNewDoingList-present'">
      <input
        appearance="fill"
        matInput
        type="text"
        [(ngModel)]="addDoing"
        (keyup.enter)="addNewDoing()"
        class="form-control-lg text-center"
        placeholder="Add Doing"
      />
    </div>
  </div>

  <br />

  <div
    cdkDropList
    #doingList="cdkDropList"
    [cdkDropListData]="doing"
    [cdkDropListConnectedTo]="[todoList, doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of doing" cdkDrag>{{ item }}</div>
  </div>
</div>

<div class="example-container">
  <h2>Done</h2>

  <div>
    <mat-radio-group [(ngModel)]="addNewDoneList" name="addNewDoneList">
      <mat-radio-button value="addNewDoneList-present">
        <h6>Add Done</h6></mat-radio-button
      >
    </mat-radio-group>
    <div *ngIf="addNewDoneList === 'addNewDoneList-present'">
      <input
        appearance="fill"
        matInput
        type="text"
        [(ngModel)]="addDone"
        (keyup.enter)="addNewDone()"
        class="form-control-lg text-center"
        placeholder="Add Done"
      />
    </div>
  </div>

  <br />

  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList, doingList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)"
  >
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{ item }}</div>
  </div>
</div>
